In [1]:
import numpy as np

In [2]:
print(np.__version__)
np.show_config()

2.2.6
Build Dependencies:
  blas:
    detection method: pkgconfig
    found: true
    include directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-gnu2g9dg/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/include
    lib directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-gnu2g9dg/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/lib
    name: scipy-openblas
    openblas configuration: OpenBLAS 0.3.29  USE64BITINT DYNAMIC_ARCH NO_AFFINITY
      Haswell MAX_THREADS=24
    pc file directory: C:/a/numpy/numpy/.openblas
    version: 0.3.29
  lapack:
    detection method: pkgconfig
    found: true
    include directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-gnu2g9dg/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/include
    lib directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-gnu2g9dg/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/lib
    name: scipy-openblas
    openblas configuration: OpenBLAS 0.3.29  USE64BITINT DYNAMIC_ARCH NO_AFFINITY
      Haswell MAX_THREADS=24
    pc file directory: C:/a/numpy/numpy/.openblas
    version: 0.3.29
Compilers:
  c:
    commands: cl
    linker: link
    name: msvc
    version: 19.29.30159
  c++:
    commands: cl
    linker: link
    name: msvc
    version: 19.29.30159
  cython:
    commands: cython
    linker: cython
    name: cython
    version: 3.1.0
Machine Information:
  build:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
  host:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
Python Information:
  path: C:\Users\runneradmin\AppData\Local\Temp\build-env-iv6bfc05\Scripts\python.exe
  version: '3.13'
SIMD Extensions:
  baseline:
  - SSE
  - SSE2
  - SSE3
  found:
  - SSSE3
  - SSE41
  - POPCNT
  - SSE42
  - AVX
  - F16C
  - FMA3
  - AVX2
  not found:
  - AVX512F
  - AVX512CD
  - AVX512_SKX
  - AVX512_CLX
  - AVX512_CNL
  - AVX512_ICL

In [3]:
data=[[1,2,3],[3,4,5]]
Z=np.array(data)
print(Z)
print(data);

rows,cols=5,5
grid=[[i-j for i in range(cols)] for j in range(rows)]
print(grid)

arr=[x*x for x in range(5)]
print(arr)

[[1 2 3]
 [3 4 5]]
[[1, 2, 3], [3, 4, 5]]
[[0, 1, 2, 3, 4], [-1, 0, 1, 2, 3], [-2, -1, 0, 1, 2], [-3, -2, -1, 0, 1], [-4, -3, -2, -1, 0]]
[0, 1, 4, 9, 16]

In [4]:
import numpy as np
zeroes_array=np.full((3,4),3)
ones_array=np.ones((4,5))
print(zeroes_array)
print(ones_array)
data=[[1,2,3],[3,4,5]]
nparray=np.array(data)
print(nparray)

[[3 3 3 3]
 [3 3 3 3]
 [3 3 3 3]]
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[1 2 3]
 [3 4 5]]

In [5]:
z=np.array([i for i in range(10,50)])
print(z)
y=np.arange(10,50)
print(y)
x=np.arange(50)
print(x[::-1])

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2
  1  0]

In [6]:
z=np.arange(9).reshape(3,3)
print(z)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [7]:
nz=np.array([1,2,0,0,4,0])
print(*(nz[i] for i in range(0,nz.size)))

1 2 0 0 4 0

In [8]:
arr=np.eye(3)
arrint=arr.astype(int)
print(arr, "\n", arrint)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
 [[1 0 0]
 [0 1 0]
 [0 0 1]]

In [9]:
z=np.random.random((3,2,3))
print(z)

[[[0.38718999 0.76439345 0.47507771]
  [0.85538455 0.06479162 0.91071195]]

 [[0.88516482 0.09195794 0.13582998]
  [0.25336564 0.00621868 0.32529273]]

 [[0.83450193 0.38150767 0.37516977]
  [0.07614501 0.35329064 0.47428875]]]

In [10]:
z=np.random.random((10,10))
zmin,zmax=z[0].min(),z[0].max()
print(zmin,zmax)

0.07559394972654376 0.8751732241489205

In [11]:
i=0
sum=0;
while (i<1000):
    z=np.random.random(30)
    m=z.mean()
    sum=sum+m;
    i=i+1
print(sum/i)

0.4991132949442147

In [24]:
z=np.ones((10,10))
z[1:z[0].size-1:1,1:z[0].size-1:1]=0
print(z)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [44]:
z=np.random.randint(1,10,(5,5))
print(z)
x=np.pad(z,pad_width=3, mode='linear_ramp',end_values=10)
print(x)

[[8 4 1 8 3]
 [7 4 2 1 2]
 [1 8 7 3 8]
 [7 1 4 4 5]
 [8 3 4 8 4]]
[[10 10 10 10 10 10 10 10 10 10 10]
 [10  9  9  9  8  7  9  7  8  9 10]
 [10  9  8  8  6  4  8  5  6  8 10]
 [10  9  8  8  4  1  8  3  5  7 10]
 [10  9  8  7  4  2  1  2  4  7 10]
 [10  7  4  1  8  7  3  8  8  9 10]
 [10  9  8  7  1  4  4  5  6  8 10]
 [10  9  8  8  3  4  8  4  6  8 10]
 [10  9  8  8  5  6  8  6  7  8 10]
 [10  9  9  9  7  8  9  8  8  9 10]
 [10 10 10 10 10 10 10 10 10 10 10]]

In [49]:
z=np.diag([1,2,3,4])
z=np.pad(z,pad_width=((1,0),(0,1)), mode='constant', constant_values=0)
print(z)

[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]

In [53]:
z=np.zeros((8,8))
print(z)
z[0::2,0::2]=1
z[1::2,1::2]=1
print(z)

[[0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]]
[[1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]]

In [79]:
x=np.ones((5,3))
y=np.ones((3,2))
print(np.matmul(x,y))

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

In [107]:
#series: a ne dimensional labeled array hodling data of any type
#dataframe: a two dimensional data strcuture that holds data like a two dimension array or a table with rows and columns,
import pandas as pd
s=pd.Series([1,2,3,5,np.nan,6,8])
print(s)


dates=pd.date_range("20130101",periods=10)
column_names=[f"col{i}" for i in range(1,5)]
df=pd.DataFrame(np.random.randn(10,4),index=dates,columns=column_names)
print(df)

0    1.0
1    2.0
2    3.0
3    5.0
4    NaN
5    6.0
6    8.0
dtype: float64
                col1      col2      col3      col4
2013-01-01  1.273506 -0.897182  0.289811  1.109212
2013-01-02 -0.966656  0.934354  0.677526  2.181563
2013-01-03  1.986958  2.404111 -1.037316 -0.842543
2013-01-04  1.695805  2.232582  0.459766  1.243640
2013-01-05 -0.575383  0.457425 -0.754324 -0.544569
2013-01-06 -0.393685 -1.309457  0.382871 -0.099977
2013-01-07  0.028586  0.831503 -1.233858 -0.347820
2013-01-08  1.288080 -0.769269 -1.427290 -0.526529
2013-01-09 -1.832934  1.050435  0.534550 -0.371759
2013-01-10  0.375225  0.463785  0.057295  0.012618

In [118]:
dates=pd.date_range("20130101",periods=6,freq="D")
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [157]:
data={0:["Manav","Jhanavi","Meher"],"blah":[18,"BLAH",3],2:["Noida","Noida","Noida"]}
df=pd.DataFrame(data)
df.describe()

            0  blah      2
count       3     3      3
unique      3     3      1
top     Manav    18  Noida
freq        1     1      3

In [217]:
dates=pd.date_range("20130101",periods=6)
column_names=[i for i in range(0,4)]
data=np.arange(1,25)
np.random.shuffle(data)
data=data.reshape(6,4)
df=pd.DataFrame(data,index=dates, columns=column_names)
print(df.iloc[0])
print()
print(df.iloc[0:1,0:4])
print()
print(df)

0     3
1    17
2    19
3    21
Name: 2013-01-01 00:00:00, dtype: int64

            0   1   2   3
2013-01-01  3  17  19  21

             0   1   2   3
2013-01-01   3  17  19  21
2013-01-02   4  10  16   7
2013-01-03   2   1   6  12
2013-01-04   8  18  24  23
2013-01-05  15   5  11  22
2013-01-06  14  20  13   9

In [270]:
dates=pd.date_range("20130101",periods=3)
column_names=[i for i in range(1,3)]
data=np.arange(1,7)
np.random.shuffle(data)
data=data.reshape(3,2)
df=pd.DataFrame(data,index=dates, columns=column_names)
print(df)
print()
print(df[(df[1]>=6)&(df[2]>=1)])
print()

            1  2
2013-01-01  4  2
2013-01-02  5  3
2013-01-03  6  1

            1  2
2013-01-03  6  1